/env
__pycache__
/logs
/hf_cache
.venv/
cache/
xx*

*.sw*
# Exclude data folder (contains large files)
data/custom/*.json
data/custom/*.log
data/arc_agi_n1000.json
data/icl_examples/*.json
data/logprobs/**/*
data/plots/**/*
