numpy==2.2.6
tf-keras
scikit-learn
torch==2.9.0
torchaudio==2.9.0
torchvision==0.24.0
transformers==4.56.1
tokenizers==0.22.0
sentencepiece==0.2.1
accelerate==1.10.1
datasets==4.0.0
plotly
seaborn
peft==0.17.1
bitsandbytes==0.47.0
scipy
pytest
google-genai
triton
kernels
trl==0.24.0
wandb==0.21.3
vllm==0.13.0
xformers>=0.0.33
outlines>=0.2.0
